.btn {
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  transition: all $time ease;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
  font-family: $open-sans;
  font-size: 15px;
  font-weight: 400;

  &--blue {
    padding-right: 20px;
    padding-left: 20px;
    border: 0;
    background: $blue;
    color: #ffffff;

    @include btn;

    &:hover {
      background: darken($blue, 10);
    }

    &:active {
      background: darken($blue, 5);
    }
  }
}
