.btn {
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.3 ease;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
  font-family: $intro;
  font-size: 15px;
  font-weight: 400;

  &--blue {
    
  }
}
