/*=====================
  Базовая типография
=====================*/

@font-face {
  font-family: "Intro";
  font-weight: 400;
  font-style: normal;

  src: local("Intro"), url("intro.woff2") format("woff2"), url("intro.woff") format("woff"), url("intro.ttf") format("truetype");
}



$intro: "Intro", Arial, sans-serif;
$roboto: "Roboto", Arial, sans-serif;



body {
  color: #000000;
  font-family: $roboto;
  font-size: 18px;
  line-height: 26px;
}
