/*=== миксины слой ===*/

@import "_mixins/mixins";



/*=== базовый слой ===*/

@import "base/__variable";
@import "base/__normalize";
@import "base/grid";
@import "base/typography";
@import "base/buttons";
@import "base/forms";
@import "base/fullpage";



/*=== компоненты ===*/

@import "components/header";



/*=== страницы ===*/

@import "pages/layout";


.section3 {
  background: url("../img/screen3.jpg") no-repeat;
  background-position: top center;
  background-size: cover;
}
