.section {
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  &--intro {
    background-image: url("../img/screen1.jpg");
    background-position: top center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
  }


  &--about {
    display: flex;
    background-image: url("../img/screen2.jpg");
    background-position: center;

    align-items: center;
  }

  &--as {
    display: flex;
    background-image: url("../img/screen3.jpg");
    background-position: top center;

    align-items: center;
  }

  &--how {
    display: flex;

    align-items: center;
  }

  &--form {
    background: #111418;
    color: #f1f1f1;
    display: flex;
    align-items: center;
  }
}
