body {

}

.section {
  background-repeat: no-repeat;
  background-size: cover;

  &--about {
    background-image: url("../img/screen2.jpg");
    background-position: center;
    display: flex;
    align-items: center;
  }

  &--as {
    background-image: url("../img/screen3.jpg");
    background-position: top center;
    display: flex;
    align-items: center;
  }
}
