

.section {
  background-repeat: no-repeat;
  background-size: cover;


  &--about {
    display: flex;
    background-image: url("../img/screen2.jpg");
    background-position: center;

    align-items: center;
  }

  &--as {
    display: flex;
    background-image: url("../img/screen3.jpg");
    background-position: top center;

    align-items: center;
  }
}
