.form {
  display: flex;
  align-items: center;

  &__left {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 45px;
    font-weight: normal;
    line-height: 53px;
    margin: 0;
    font-family: $intro;
    text-transform: uppercase;
    margin-bottom: 50px;
    @media (max-width: 1500px) {
      font-size: 40px;
      line-height: 47px;
      margin-bottom: 30px;
    }
    @media (max-width: 1200px) {
      font-size: 35px;
      line-height: 43px;
      margin-bottom: 20px;
    }
  }

  &__title2 {
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
    color: $yellow;
    margin: 0;
    font-family: $intro;
    text-transform: uppercase;
    margin-bottom: 10px;
    @media (max-width: 1500px) {
      font-size: 27px;
      line-height: 27px;
      margin-bottom: 7px;
    }
    @media (max-width: 1200px) {
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 5px;
    }
  }

  &__description2 {
    font-size: 24px;
    line-height: 34px;
    @media (max-width: 1500px) {
      font-size: 22px;
      line-height: 32px;
    }
    @media (max-width: 1200px) {
      font-size: 20px;
      line-height: 30px;
    }
  }

}

.form-block {
  &--1 {
    width: 95%;
    box-sizing: border-box;
    align-self: flex-start;
    margin-bottom: 80px;
    @media (max-width: 1500px) {
      margin-bottom: 70px;
    }
    @media (max-width: 1200px) {
      width: 100%;
      margin-bottom: 50px;
    }
  }

  &--2 {
    width: 79%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: flex-end;
    position: relative;
    @media (max-width: 1500px) {
      width: 81%;
    }
    @media (max-width: 1200px) {
      width: 100%;
      align-self: flex-start;
    }
  }

  &--3 {
    width: 100%;
    @media (max-width: 1500px) {
      width: 95%;
    }
    @media (max-width: 1200px) {
      width: 90%;
    }
  }

  &__yellow-line {
    position: absolute;
    width: 8px;
    background: $yellow;
    height: 110%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &__content {
    margin-left: 33px;
    @media (max-width: 1500px) {
      margin-left: 30px;
    }
    @media (max-width: 1200px) {
      margin-left: 30px;
    }
  }
}
